body {
  font-family: 'Courier New', Courier, monospace;
}

.todo-grid, 
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center; 
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
  border: solid;
  border-color: rgb(127, 206, 8);
  border-radius: 19px;
  font-family: 'Courier New', Courier, monospace;
}

.add-todo-button {
  background-color: rgb(127, 206, 8);
  color: white;
  border: none;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 19px;
  cursor: pointer;
}

.delete-todo-button {
  background-color: rgb(206, 64, 8);
  color: white;
  border: none;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 19px;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
}
